@model mvcpractice1.Models.NewUser

@{
    ViewBag.Title = "SummaryPage";
}

<h2>Summary</h2>


<p>Hello @Model.Name @Model.LastName @Model.StreetAddress</p>
<p>Oh ! and wow , you live in the same state as I do. @Model.State</p>

<h1>Zipcode @Model.ZipCode</h1>


