@model mvcpractice1.Models.NewUser
@{
    ViewBag.Title = "SummaryPage";
}

<h2>HEY THERE : @Model.Name @Model.LastName</h2>

<h2>I CAN SEE YOU LIVE AT @Model.StreetAddress @Model.State @Model.ZipCode</h2>
